Source: cde-desktop
Section: x11
Priority: optional
Maintainer: TheSelousScout <nicetrynsa@protonmail.ch>
Build-Depends: debhelper (>= 10),
               autoconf,
               automake,
               libtool,
               pkgconf,
               libxt-dev,
               libxmu-dev,
               libxinerama-dev,
               libxpm-dev,
               libmotif-dev,
               libxaw7-dev,
               libx11-dev,
               libxext-dev,
               libxrender-dev,
               libxau-dev,
               libice-dev,
               libsm-dev,
               libxdmcp-dev,
               libxss-dev,
               libtirpc-dev,
               rpcsvc-proto,
               libutempter-dev,
               libpam-dev,
               libcrypt-dev,
               locales-all,
               liblmdb-dev,
               opensp,
               flex,
               x11-xserver-utils,
               xfonts-utils,
               libjpeg-dev,
               tcl-dev,
               ksh,
               m4,
               ncompress,
               bison,
               xbitmaps
Standards-Version: 4.1.2
Homepage: https://sourceforge.net/projects/cdesktopenv/
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/cde-desktop.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/cde-desktop.git

Package: cde-desktop
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cpp,
         x11-xserver-utils,
         tcl,
         ksh,
         m4,
         ncompress,
         ncurses-term,
         rpcbind,
         xbitmaps
Recommends: xfonts-100dpi,
            xfonts-100dpi-transcoded
Description: CDE - Common Desktop Environment
 The Common Desktop Environment, the classic UNIX desktop. The Common Desktop
 Environment was created by a collaboration of Sun, HP, IBM, DEC, SCO, Fujitsu
 and Hitachi. Used on a selection of commercial UNIXs, it is now available as
 open-source software.
